:root{
 --button-color: linear-gradient(144deg, rgb(20, 158, 250)0%, rgb(145, 27, 255)100%);
 --buttonlogo: ;
 --text-color: #f7f4f4;
}
*{
    /* background-color: black; */
    margin: 0;
    padding: 0;  
}
body{
    background: #000;
}
main{
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    z-index: -3;
    /* opacity: 0.3; */
    object-fit: contain;
    background-image:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./background-img.jpg");
}

h1{
    text-decoration: none;
    color: var(--text-color);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: var(--text-color);
    font-size: 25px;
}

button{
    border: none;
    font-size: 16px;
    font-weight:bold;
    background:var(--button-color);
    color: var(--text-color);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;  
}
button a{
    color: #fff;
}
button:hover{
    transform: scale(1.09);
}
#landing-page{
    
    z-index: 1;
    /* font-family: Arial, Helvetica, sans-serif; */
    width:100%;
    margin:0 auto;
    text-align: center;
    padding: 75px 0;
    color: var(--text-color);
}
#landing-page p{
    color: var(--text-color);
    font-size: 25px;
    padding: 20px 0;
}
#landing-page h1{
    color: var(--text-color);
    font-size: 50px;
    padding: 0 50px;
}
/* button{
    margin-top: 20px;
    padding: 10px;
    width:100px;
    font-weight: bold;
    text-transform: capitalize;
    
    border-radius: 5px;
    background-color: var(--buttonlogo);
    border: solid var(--buttonlogo);
} */
button a{
    background-color: var(--buttonlogo);
    text-decoration: none;
    color: var(--button-color);
    font-size: 16px;
}
hr{
    z-index: -1;
    height: 10px;
    border: 1px solid rgb(67, 67, 68) ;
    background-color: rgb(67, 67, 68);
}
#section2{
    display: flex;
    padding: 70px 45px;
    color: var(--text-color);
    justify-content: space-around;
}
.tv{
    color: var(--text-color);
    text-align: left;
    margin: auto 0px;
    width: 500px; 
}
#download{
    display: flex;
    color: var(--text-color);
    padding: 70px 45px;
    justify-content: space-around;
}
#kids{
    display: flex;
    color: var(--text-color);
    padding: 70px 45px;
    justify-content: space-around;
}
 .but{
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#question{
    /* text-align: center; */
    display: block;
    width: 100%;
}
#question h1{
    margin: 20px;
}
#question ol{
    margin: 20px;
    /* margin: 0 0 0 450px; */
    justify-content: center;
    align-items: center;

}
#question ol li{
    /* text-align: center; */
    background-color: rgba(67, 67, 68, 0.3);
    width: 100%px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    margin: 10px;
    list-style-type: none;
    color: var(--text-color);
    
}
@media(max-width:762px){
    button a{
        font-size:12px;
        padding: 5px;
    }
    #section2, #kids, #download{
        display: flex;
        flex-direction: column;
    }
    .tv{
        text-align: center;
        margin-top: 10px;
        width: inherit;
    }
    .tv h1{
        
        margin-bottom: 15px;
        font-size: 30px;
    }
    .tv p, #landing-page p{
        color: rgb(145, 27, 255);
        font-size: 20px;
        line-height: 35px;
    }
    #landing-page h1 {
        font-size: 30px;
        /* color: rgb(20, 158, 250); */
    }
    main{
        height:80vh;
        padding-top: 100px;
    }
    #download{
        flex-direction: column-reverse;
    }
    #question h1{
        font-size: 35px;
    }
}