.main{
    width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 1);
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./FILM.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    
    
}
.landings{
    padding-top: 250px;
    text-align: center;   
}
.lastt #last{
    margin-top:100px ;
}
.lastt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.landings p{
    
    font-size: 20px;
    color: #fff;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
.landings h1{
    color: #fff;
    font-size: 45px;
}
button{
    border: none;
    font-size: 16px;
    font-weight:bold;
    background:var(--button-color);
    color: var(--text-color);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 5px;  
}
@media (max-width:762px) {
    button #but-kid{
        margin-top:px;
    }    
}